@function pixelize($colors, $size) {
    $result: '';
    $numRows: length($colors);

    @for $rowIndex from 1 through $numRows {
        $y: ($rowIndex - 1);
        $row: nth($colors, $rowIndex);
        $numCols: length($row);

        @for $cellIndex from 1 through $numCols {
            $x: ($cellIndex - 1);
            $color: nth($row, $cellIndex);

            $sep: ',';

            @if $x==0 and $y==0 {
                $sep: '';
            }

            $result: $result+'#{$sep} #{$x * $size} #{$y * $size} #{$color}'
        }
    }

    $result: unquote($result);
    @return $result;
}

$size: 5px;

$t: transparent;
$b: #2c2c2c;
$eye: #4d1b09;
$hair: #211a23;
$s: #f8ece7;
$ds: #dbccc6;
$g: #8f8e8e;
$wh: #efefef;


$dan: (($t, $t, $t, $t, $t, $b, $b, $b, $b, $b, $b, $b, $b, $b, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $t, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $t, $t, $t),
    ($t, $t, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $b, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $b, $b, $b, $s, $s, $s, $s, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $hair, $s, $s, $s, $s, $s, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $hair, $s, $hair, $hair, $hair, $hair, $s, $s, $s, $hair, $hair, $hair, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $hair, $s, $g, $g, $g, $g, $s, $s, $g, $g, $g, $g, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $g, $g, $g, $g, $wh, $eye, $g, $g, $g, $g, $wh, $eye, $g, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $s, $s, $s, $g, $g, $g, $g, $s, $ds, $g, $g, $g, $g, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $s, $s, $s, $s, $s, $s, $s, $ds, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $s, $s, $s, $s, $s, $s, $ds, $ds, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $s, $s, $s, $s, $s, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $s, $s, $s, $s, $ds, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $t, $s, $s, $s, $ds, $ds, $ds, $ds, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $t, $t, $s, $s, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $t, $t, $t, $s, $s, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t, $t),
    ($t, $t, $t, $t, $t, $t, $t, $s, $s, $s, $s, $s, $t, $t, $t, $t, $t, $t, $t, $t, $t, $t, $t));


.sp-pixel {
    display: block;
    width: calc(20 * #{$size});
    height: calc(20 * #{$size});
    // margin-top: 5rem;
    // margin-left: 1rem;


    &::after {
        content: '';
        display: block;
        width: $size;
        height: $size;
        margin-left: 1rem;
        box-shadow:
            pixelize($dan, $size);
    }
}

@include breakpoint('<=large'){
    .sp-pixel {
        display: block;
        width: calc(30 * 5px);
        height: calc(30 * 5px);
        margin-top: 2rem;
        margin-right: 1.5rem;

        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 2rem;
            box-shadow:
                pixelize($dan, 5px)
        }
    }

}
