.button {
    display: block;
    text-decoration: none;
    border: 2px solid rgb(15, 15, 15);
    box-shadow: 5px 10px;
    background: var(--color-3);
    color: white;
    font-weight: bold;
    padding: 1rem;
    font-size: 16px;
    text-align: center;
    margin: 5rem auto;
    width: 100px;
    border-radius: 10%;
    font-family: 'Monstserrat', sans-serif;
}

.hide {
    display: none;
}

/* Button Animation */

.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button:hover {
    background: var(--color-5);
}
