.icon {
  border-bottom: none;
  position: relative;
  font-size: 1.5em;
  color: _palette(bg);
  line-height: 2.5em;
  margin: 0.5em 0 0.5em 0;

  & .icon-dark {
    color: _palette(bg-alt);
    font-size: 2.5em;
    line-height: 2.5em;
    margin: 0.5em;
  }
} 
