/* Wrapper Component */

	.wrapper {
		position: relative;

		> .inner {
			padding: 5em 5em;
			max-width: 100%;
			width: 75em;
			
			@include breakpoint('<=xlarge') {
				padding: 4em 4em;
			}

			@include breakpoint('<=large') {
				width: 100%;
			}

			@include breakpoint('<=small') {
				padding: 3em 2em;
			}
		}
		&.alt {
			background-color: _palette(bg);
		}

		&.style1 {
			background-color: _palette(fg-light);
		}

		&.style1-alt {
			background-color: _palette(accent1);
		}

		&.style2 {
			background-color: _palette(accent2);
		}
		
		&.style3 {
			background-color: darken(_palette(bg-alt), 20);
		}

		&.fullscreen {
			display: flex;
      flex-direction: column;			
      justify-content: center;
      min-height: 100vh;

			@include breakpoint('<=large') {
				min-height: calc(100vh - 2.5em);

				body.is-ie & {
					height: calc(100vh - 2.5em);
				}
			}

			@include breakpoint('<=small') {
				padding: 2em 0;
				min-height: 0;

				body.is-ie & {
					height: auto;
				}
			}
		}
	}