/* Wrapper Component */

	.wrapper {
		position: relative;

		> .inner {
			padding: 5em 5em;
			max-width: 100%;
			width: 75em;

			@include breakpoint('<=xlarge') {
				padding: 4em 4em;
			}

			@include breakpoint('<=large') {
				width: 100%;
			}

			@include breakpoint('<=small') {
				padding: 3em 2em;
			}
		}

		&.alt {
			background-color: $bg;
		}

		&.style1 {
			background-color: $bg-light;
		}

		&.style1-alt {
			background-color: $bg-dark;
		}

		&.style2 {
			background-color: #5D8AA8;
		}
		
		&.fullscreen {
			display: flex;
      flex-direction: column;			
      justify-content: center;
      min-height: 100vh;

			body.is-ie & {
				height: 100vh;
			}

			@include breakpoint('<=large') {
				min-height: calc(100vh - 2.5em);

				body.is-ie & {
					height: calc(100vh - 2.5em);
				}
			}

			@include breakpoint('<=small') {
				padding: 2em 0;
				min-height: 0;

				body.is-ie & {
					height: auto;
				}
			}
		}

		&.fade-up {
			> .inner {
        transform: translateY(0);
        transition: opacity 1s ease;
        transform: 1s ease;
				opacity: 1.0;
			}

			&.inactive,
			body.is-preload & {
				> .inner {
					opacity: 0;
          transform: translateY(1em);
				}
			}
		}

		&.fade-down {
			> .inner {
        transform: translateY(0);
        transition: opacity 1s ease;
        transform: 1s ease;
				opacity: 1.0;
			}

			&.inactive,
			body.is-preload & {
				> .inner {
					opacity: 0;
					transform: translateY(-1em);
				}
			}
		}

		&.fade {
			> .inner {
        transition: opacity 1s ease;
				opacity: 1.0;
			}

			&.inactive,
			body.is-preload & {
				> .inner {
					opacity: 0;
				}
			}
		}
	}