/* About Container */
.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.typed-intro>pre {
    flex: 1 0 50%;
    font-size: 1rem;
}

div.intro-container {
    height: 20vh;
    background: #efefef;
}
@media screen and (min-width:800px) {
    .typed-intro>pre {
        font-size: 3rem;
    }
    div.intro-container {
        height: 50vh;
    }
}