.about-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .about-container {
        font-size: 2rem;
    }
}