@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Prompt:wght@900&display=swap');


/* Mobile Styles */

/* html/body */
html, body {
    box-sizing: border-box;
    font-family: 'Capriola', serif;
    background:#001A1A;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

