@import url('./reset.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Prata&display=swap");

:root {
    --color-1: #4444;
    --color-2: rgb(7, 7, 7);
    --color-3: #4169E1;
    --color-4: #191970;
    --color-5: #483d8b;
}

/* html/body */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prata', serif;
    color: rgb(236, 225, 225);
    background: rgb(29, 25, 25);
}

a {
    text-decoration: none;
}

/* Container Styles */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.project-container {
    display: flex;
}

.project {
    flex: 1 250px;
    width: 250px;
    height: 250px;
    margin-left: 5px;
    background: rgb(236, 225, 225);
    border: 1px solid black;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-flex-row {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.container-nav-row {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

/* Border Styles */
.border-bottom {
    border-bottom: 2px solid var(--color-2);
}

/* Background Colors */
.bg-black {
    background: rgb(29, 25, 25);
}

/* Padding */
.p-left-5 {
    padding-left: 5rem;
}

.p-ar-5 {
    padding: 5rem;
}

/* Margins */

/* Margin Left */
.m-left-2 {
    margin-left: 2rem;
}

.m-left-10 {
    margin-left: 10rem;
}

/* Margin Top */
.m-top-2 {
    margin-top: 2rem;
}

.m-top-6 {
    margin-top: 6rem;
}

.m-top-12 {
    margin-top: 12rem
}

.m-top-18 {
    margin-top: 18rem;
}

.m-top-24 {
    margin-top: 24rem;
}

.m-top-42 {
    margin-top: 42rem;
}

.text-center {
    text-align: center;
}

/* Text Styling */
.big-text {
    font-size: 42px;
}

.p-text {
    font-size: 36px;
    font-weight: bold;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.courier-new {
    font-family: 'Courier New', Courier, monospace;
}

.js-const-color {
    color: rgb(39, 39, 248);
}

.js-var-color {
    color: rgb(143, 186, 241);
}

.js-string-color {
    color: rgb(247, 119, 46);
}

/* Intro */

.blinky {
    border-left: .5px solid black;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

/* Buttons */
.nav-button {
    display: block;
    text-decoration: none;
    border: 1px solid rgb(15, 15, 15);
    /* box-shadow: 5px 10px; */
    background: rgb(247, 119, 46);
    color: white;
    font-weight: bold;
    padding: 1rem;
    font-size: 16px;
    text-align: center;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 96px;
    border-radius: 10%;
    font-family: 'Monstserrat', sans-serif;
}

.nav-button:hover {
    background: rgb(143, 186, 241);
}

/* Footer */

.footer {
    width: 100%;
    background: darkgray;
    height: 100px;
}

/* Cursor */
.cursor {
    display: inline-block;
    width: 3px;
    background: #ccc;
    margin-left: .1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background: #ccc;
    }

    49% {
        background: #ccc;
    }

    50% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: #ccc;
    }
}