@import url('./reset.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Prata&display=swap");

:root {
    --color-1: #4444;
    --color-2: rgb(7, 7, 7);
    --color-3: #4169E1;
    --color-4: #191970;
    --color-5: #483d8b;
}

/* html/body */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prata', serif;
    background: #2c2c2c;
}

/*Flex-Wrapper*/

.wrapper {
    display: flex;
    flex-direction: column;
}

/* Container Styles */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container-about {
    margin-top: 12rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: row;
}

.container-about>p {
    color: #efefef;
    margin-left: 2rem;
    flex: 0 0 35%;
    margin-top: 4rem;
}

div.intro-container {
    margin-top: 12rem;
    height: 30vh;
    background: #2c2c2c;
    box-shadow: 5px 5px 5px 5px black;
}

div.typed-intro {
    max-width: 1200px;
    margin: 5rem auto;
    width: 50%;
}

.container-projects {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.container-projects>h1 {
    color: #efefef;
    margin: 1rem;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.project-row {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: inherit;
}

.project-row:nth-child(3) {
    display: flex;
    flex-direction: row-reverse;
}

.project {
    flex-grow: 1;
    margin-left: 5px;
    background: #2c2c2c;
    border: 1px solid lightblue;
    box-shadow: 5px 5px black;
}

.project-text {
    flex-basis: 70%;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin-left: .5rem;
    background: lightblue;
}

.project-text>p {
    padding: 10px;
    color: #000;
    font-weight: bold;
}

.vscode-effect {
    width: 100%;
}

.vscode-effect>ul {
    position: fixed;
    top: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.vscode-effect>ul>li {
    background: black;
    padding: 10px;
}

.vscode-effect>ul>li:nth-child(2) {
    margin-left: 1rem;
}

.vscode-effect>ul>li:last-child {
    margin-left: 1rem;
}

.vscode-effect>ul>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #efefef;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

.vscode-effect>ul>li>a:hover {
    cursor: pointer;
    border: 1px dashed #e86b43fa;
}

/* Border Styles */
.border-bottom {
    border-bottom: 2px solid var(--color-2);
}


/* Text Styling */
.big-text {
    font-size: 42px;
}

.text-center {
    text-align: center;
}

.p-text {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5em;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.courier-new {
    font-family: 'Courier New', Courier, monospace;
}

.js-const-color {
    color: #3F51B5;
}

.js-var-color {
    color: #759eead6;
}

.js-string-color {
    color: #e86b43fa;
}

/* Intro */

.blinky {
    border-left: .3px solid black;
    height: 30px;
    animation: 1s blink step-end infinite;
}

/* Footer */

.footer {
    width: 100%;
    background: darkgray;
    height: 100px;
}

/* Cursor */
.cursor {
    display: inline-block;
    width: 3px;
    background: #ccc;
    margin-left: .1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background: #ccc;
    }

    49% {
        background: #ccc;
    }

    50% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: #ccc;
    }
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .container-projects {
        margin: 0;
    }
    .project-row {
        margin: 1rem 0 0 0;
    }
    .container-about {
        display: flex;
        flex-direction: column;
        margin: 0 0 12rem;

    }
    .project {
        flex-grow: 1;
        margin-left: 5px;
        background: #2c2c2c;
        border: 1px solid lightblue;
        box-shadow: 5px 5px black;
    }
    .container-about>p {
        margin: 0 auto;
        width: 75%;
        font-size: 12px;
    }


    .p-text {
        font-size: 18px;

    }

    div.intro-container {
        width: 100%;
        margin: 5px 5px 5px auto;
        height: 30vh;
    }

    div.typed-intro {
        width: 85%;
        margin: 1rem auto;
    }

    .vscode-effect>ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        visibility: hidden;
    }

    .project-text {
        font-size: 10px;
    }

 
}