@media screen and (max-width: 320px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flex-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flex-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flex-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 6rem;
    }
    .project-container {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .div.typed-intro {
        margin: 5rem auto;
        width: 50%;
    }

    .flex-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .navbar>ul>li {
        margin-top: 4rem;
    }

    .navbar>ul>li>a {
        font-size: 1rem;
    }

    .navbar>ul>li>a>i {
        font-size: 2rem;
        color: #a7d4f8;
    }

    .navbar>ul>li>a:hover {
        cursor: pointer;
        border-bottom: 1px solid lightblue;
    }

    .p-text {
        font-size: 1em;
    }

    .navbar {
        display: none;
    }

    .nav-right-hamburger {
        display: block;
        position: fixed;
        right: 2rem;
        top: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .div.typed-intro {
        margin: 5rem auto;
        width: 50%;
    }

    .flex-projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .navbar>ul>li {
        margin-top: 4rem;
    }

    .navbar>ul>li>a {
        font-size: 1rem;
    }

    .navbar>ul>li>a>i {
        font-size: 2rem;
        color: #a7d4f8;
    }

    .navbar>ul>li>a:hover {
        cursor: pointer;
        border-bottom: 1px solid lightblue;
    }

    .p-text {
        font-size: 2em;
    }

    .navbar {
        display: none;
    }

    .nav-right-hamburger {
        display: block;
        position: fixed;
        right: 2rem;
        top: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .div.typed-intro {
        margin: 5rem auto;
        width: 50%;
    }

    .navbar>ul>li {
        margin-top: 4rem;
    }

    .navbar>ul>li>a {
        font-size: 1rem;
    }

    .navbar>ul>li>a>i {
        font-size: 2rem;
        color: #a7d4f8;
    }

    .navbar>ul>li>a:hover {
        cursor: pointer;
        border-bottom: 1px solid lightblue;
    }

    .p-text {
        font-size: 2em;
    }
    .flex-projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-container {
        flex: 1 0 50%;
        width: 50%;
    }
}

@media screen and (max-width: 1875px) {
    .flex-projects {
        flex-direction: column;
    }
}