@import url('./reset.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Prata&display=swap");


/* html/body */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prata', serif;
    background: #efefef;
}

/*Flex-Wrapper*/

.content-wrapper {
    display: flex;
}

/* Container Styles */

/* Main Container */
.container {
    margin: 0 auto;
    max-width: 1440px;
}

/* About Container */
.container-about {
    display: flex;
    flex-direction: row;
}

.container-about>p {
    color: #efefef;
    margin-left: 2rem;
    flex: 0 0 35%;
    margin-top: 4rem;
}

div.intro-container {
    height: 30vh;
    background: #efefef;
}

div.typed-intro {
    max-width: 1200px;
    margin: 5rem auto;
    width: 50%;
}

/* Projects Container */
div.project-container {
    display: block;
    flex: 1 0 50%;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.8s ease-out;
}

.project-image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.project-content {
    margin: 6px;
}

.project-container:hover .project-image {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale (1.2);
    transform: scale(1.2);
}

.external-links-overlay {
    position: absolute;
    bottom: 9%;
    right: 6%;
    color: #efefef;
}

.external-links-overlay p a {
    border-radius: 15px;
    padding: 6px 12px;
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project-container:hover .overlay {
    opacity: 1;
}

.project-image {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
}

.overlay {
    background: #2c2c2c;
    color: #efefef;
    position: absolute;
    opacity: 0;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.8s ease;
    -moz-transition: opacity 0.8s ease;
    -o-transition: opacity 0.8s ease;
    -ms-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
}

.year-overlay {
    position: absolute;
    bottom: 7%;
    left: 6%;
    padding: 0 6px;
    border-bottom: 1px solid #efefef;
    color: #efefef;
    font-size: 1rem;
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Flexbox */
.flex-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12rem;
    margin-bottom: 12rem;
}

/* Navbar */
.navbar {
    background: #3e444f;
    position: fixed;
    height: 100%;
    z-index: 1;
    /* transitions */
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -ms-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.navbar>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar>ul>li {
    margin-top: 5rem;
}

.navbar>ul>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #a7d4f8;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

.navbar>ul>li>a>i {
    font-size: 36px;
    color: #a7d4f8;
}

.navbar>ul>li>a:hover {
    cursor: pointer;
    border-bottom: 1px solid lightblue;
}

.nav-right-hamburger {
    display: none;
}

.hamburger-button {
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.bar {
    background: #3e444f;
    height: 2px;
    width: 24px;
    margin: 6px auto;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.move-to-right {
    display: block;
    /* transitions */
    -webkit-transform: translateX(-375px);
    -moz-transform: translateX(-375px);
    -ms-transform: translateX(-375px);
    -o-transform: translateX(-375px);
    transform: translateX(-375px);
}

/* Text Styling */
.big-text {
    font-size: 42px;
}

.text-center {
    text-align: center;
}

.p-text {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5em;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.courier-new {
    font-family: 'Courier New', Courier, monospace;
}

.js-const-color {
    color: #248ee3;
}

.js-var-color {
    color: #3e444f;
}

.js-string-color {
    color: #248ee3;
}

/* Intro */

/* Footer */

.footer {
    width: 100%;
    background: darkgray;
    height: 100px;
}

/* Cursor */
.cursor {
    display: inline-block;
    width: 3px;
    background: #3e444fd6;
    margin-left: .1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background: transparent;
    }

    49% {
        background: transparent;
    }

    50% {
        background: #3e444fd6;
    }

    99% {
        background: #3e444fd6;
    }

    100% {
        background: #3e444fd6;
    }
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .div.typed-intro {
        margin: 5rem auto;
        width: 75%;
    }

    .flex-projects {
        margin: 0 0 12rem 0;
    }

    .navbar>ul>li {
        margin-top: 4rem;
    }

    .navbar>ul>li>a {
        font-size: 1rem;
    }

    .navbar>ul>li>a>i {
        font-size: 2rem;
        color: #a7d4f8;
    }

    .navbar>ul>li>a:hover {
        cursor: pointer;
        border-bottom: 1px solid lightblue;
    }

    .p-text {
        font-size: 2rem;
    }

    .navbar {
        display: none;
    }

    .nav-right-hamburger {
        display: block;
        position: fixed;
        right: 2rem;
        top: 2rem;
    }
}