#wrapper {
  #sidebar + & {
    margin-left: 18em;
    @include breakpoint('<=large') {
      margin-left: 0;
      padding-top: 3.5em;
    }
    @include breakpoint('<=small') {
      padding-top: 0;
    }
    > .wrapper {
      > .inner {
        margin: 1.5em auto;
      }
    }
  }
}