.title-info-container {
  display: flex;
  margin-left: 0;
  margin-bottom: 0.5em;

  &:first-child {
    margin-left: 0;
  }

  & .title-info {
    margin-left: 0.5em;
    padding: 0.5em;
    background: #4f88b1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
}