@import 'libs/vars';
@import 'libs/functions';
@import 'libs/vendor';
@import 'libs/html-grid';
@import 'libs/breakpoints';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@500&display=swap');

// Breakpoints
  @include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base
@import 'page/reset';
@import 'page/base';
@import 'page/typography';

// Components
@import 'components/works';
@import 'components/wrapper';
@import 'components/button';
@import 'components/icon';
@import 'components/features';
@import 'components/titlecontainer';
@import 'components/image';

// Layout
@import 'layout/sidebar';
@import 'layout/wrapper';
